html {
    font-family: sans-serif;
    font-weight: 300;
}

table {
    border-collapse: collapse;
}

thead td, tfoot td {
    font-weight: 700;
    border: none;

}

thead td {
    padding-bottom: 20px;
}

tfoot td {

    padding-top: 30px;
}




td {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

td:nth-child(5) {
    text-align: center;
}

.order {
    padding: 30px;
    margin-top: 100px;
    width: 500px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

h3 {
    margin-top: 80px;
    text-align: center;
}